<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= movie.image %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-5"><%= movie.title %></h5>
              <p class="card-text"><%= movie.year %></p>
              <p class="card-text"><%= movie.formattedGenre() %></p>
              <a href="<%= movie.url %>" class="card-link">More Info</a>
            </div>
          </div>
        </div>
    </div>
</div>